###############################################################################
# Git configurations                                                          #
###############################################################################

[alias]
	c = commit -am
	up = pull
	p = push
	s = status -s
	df = diff --color --color-words --abbrev
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	co = checkout

	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

	# Some nice Swedish git commannds from https://github.com/bjorne/git-pa-svenska
	ryck = pull
	tryck = push
	gren = branch
	forgrena = branch
	forbinda = commit
	ympa = rebase
	sammanfoga = merge
	gom = stash

[color]
	ui = auto
    diff = auto
    status = auto
    branch = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes

[merge]
    tool = opendiff

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
	default = current

[pull]
	rebase = true

[include]
    path = ~/code/dotfiles/.extra.gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
